body {
  margin: 0;
  height: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 242, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-header {
  margin-bottom: 20px;
}

.site-page-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 60%;
  margin: auto;
  background-color: white;
}

.site-page-header.s{
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	width: 100%;
	margin: auto;
	background-color: white;
}

.ant-form {
  border: 1px solid black;
  width: 60%;
  margin: auto;
  padding: 20px 0 5px 0;
  background-color: white;
}

.ant-table-wrapper {
  border: 1px solid black;
}

.ant-space{
  margin-left: 215px;
}

.ant-input-group.ant-input-group-compact {
  display: flex;
}

.ant-input {
  /* margin-left: 90px; */
}
